<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 India stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script defer type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
	<script defer type="text/javascript" th:src="@{/js/action.js}"></script>
</head>

<body>
<!-- <nav class="navbar fixed-top navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="javascript:void(0);" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
    <img src="https://www.countryflags.io/IN/flat/48.png" width="30" height="30" alt="" loading="lazy">
     <span class="navbar-brand mb-0 h1">COVID-19 INDIA STATS</span>
    </a>
</nav> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="javascript:void(0);" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
  <img src="https://www.countryflags.io/IN/flat/48.png" width="30" height="30" alt="" loading="lazy">
  COVID-19 INDIA STATS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          States
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div th:each="stateData : ${stateDataList}">
          <a class="dropdown-item" th:href="@{/{stateName}(stateName=${stateData.state})}" th:text="${stateData.state}"></a>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
  		<input id="myInputTextField" class="form-control mr-sm-2" type="search" placeholder="Enter State Name" aria-label="Search">
	</div>
  </div>
</nav>
<!-- <nav class="navbar navbar-light text-white col-md-2 d-flex justify-content-center text-center" style="background-color: #2871a7;margin-left: 30px;">
<h4>INDIA</h4>
</nav> -->
<div id="jumbo" class="jumbotron jumbotron-fluid" style="background-color: rgb(100, 126, 164);cursor: pointer;">
  <div class="container-fluid">
    <h1 class="display-1" style="color: white;">INDIA</h1>
  </div>
</div>
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-2 mt-4 col-md-12">
  <div class="col mb-4">
    <div class="card text-white bg-danger mb-3">
      <div class="card-body">
        <h2 class="card-title d-flex justify-content-center text-center count" th:text="${countryData.confirmed_cases}">0</h2>
        <span class="card-title d-flex justify-content-center text-center">
        [+<span th:text="${countryData.delta_change_confirmed_cases}"></span>]
        </span>
        <h4 class="card-text d-flex justify-content-center text-center">Confirmed</h4>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-warning mb-3">
      <div class="card-body">
        <h2 class="card-title d-flex justify-content-center text-center count" th:text="${countryData.active_cases}"></h2>
        <span class="card-title d-flex justify-content-center text-center">
        [+<span th:text="${countryData.delta_change_active_cases}"></span>]
        </span>
        <h4 class="card-text d-flex justify-content-center text-center">Active</h4>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-body">
        <h2 class="card-title d-flex justify-content-center text-center count" th:text="${countryData.recovered_cases}"></h2>
        <span class="card-title d-flex justify-content-center text-center">
        [+<span th:text="${countryData.delta_change_recovered_cases}"></span>]
        </span>
        <h4 class="card-text d-flex justify-content-center text-center">Recovered</h4>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h2 class="card-title d-flex justify-content-center text-center count" th:text="${countryData.death_cases}"></h2>
        <span class="card-title d-flex justify-content-center text-center">
        [+<span th:text="${countryData.delta_change_death_cases}"></span>]
        </span>
        <h4 class="card-text d-flex justify-content-center text-center">Deceased</h4>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
<table id="dtDynamicVerticalScroll" class="table table-hover table-striped mt-2 col-md-12">
<thead class="thead-dark">
        <tr>
            <th>State</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Recovered</th>
            <th>Deceased</th>
        </tr>
     </thead>
        <tr th:each="stateData : ${stateDataList}">
        	<td><a th:href="@{/{stateName}(stateName=${stateData.state})}" th:text="${stateData.state}"></a></td>
            <td th:text="${stateData.confirmed}">0</td>
            <td th:text="${stateData.active}">0</td>
            <td th:text="${stateData.recovered}">0</td>
            <td th:text="${stateData.deaths}">0</td>
        </tr>
    </table>
    </div>
</div>
</body>

</html>